.drop-menu {
  position: absolute;
  right: -250%;
  /* right: 8px; */
  /* top: -400px; */
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  border-radius: 1rem;
  transition: .3s;
  opacity: 0.5;
}

.drop-menu .drop-menu-links {
  padding: .5rem;
}

.drop-menu .drop-menu-link {
  color: #000;
  padding: .2rem 1rem .2rem .2rem;
  white-space: nowrap;
}

.nav-bar__user:hover .drop-menu {
 right: 8px;
 /* top: 100%; */
}