body {
  background-color: #263238;
}

.js .Mainjs-text {
  font-size: 2.5rem;
}

.js {
padding: 1rem;
}

.Lang {
  display: grid;
  grid-template-columns: repeat(columns);
}

.Lang .vue-icon {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0, .2);
  border-radius: 1rem;
  margin: 1rem 0;
  transition: .3s;
}

.Lang .react-icon {
  background-color: rgb(245, 167, 167);
  box-shadow: 0 0 8px rgba(0,0,0, .2);
  border-radius: 1rem;
  margin: 1rem 0;
  transition: .3s;
}

.Lang .angular-icon {
  background-color: rgb(250, 252, 169);
  box-shadow: 0 0 8px rgba(0,0,0, .2);
  border-radius: 1rem;
  margin: 1rem 0;
  transition: .3s;
}