footer {
  background-color: #263238;
  padding: 1rem;
}

.footer-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.footer-items div {
  background-color: #fff;
  height: 150px;
}

.copyright {
  text-align: center;
  color: #fff;
}


