.head-baner {
  height: calc(100vh - 41.6px);
  min-height: 350px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
}

.head-baner-text {
  width: 100%;
  text-align: center;
  align-self: flex-start;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}