* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fdfdfd;
}

h1 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

@media (min-width: 240px) {
  .container {
    width: 200px;
    margin: 0 auto;
  }
}

@media (min-width: 400px) {
  .container {
    width: 380px;
  }
}

@media (min-width: 600px) {
  .container {
    width: 570px;
  }
}

@media (min-width: 1450px) {
  .container {
    width: 1366px;
  }
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.bg-red {
  background-color: red;
}

.p-1 {
  padding: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.

.m-1 {
  margin: 1rem;
}

.m-0auto {
  margin: 0 auto;
}

.d-block {
  display: block;
}