.auth form {
  width: fit-content;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  padding: 1rem;
  border-radius: 1rem;
  margin: 2.5rem auto;
  min-width: 420px;
}

.title {
  color: rgb(12, 179, 12);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-family: Arial;
}

.form-field {
  position: relative;
}

.form-field input:not([type=checkbox]) {
  border: none;
  display: block;
  border-bottom: 1px solid #d9d9d9;
  width: calc(100% - 1rem);
  padding: .5rem;
  margin-top: .5rem;
  outline: none !important;
}

.form-field input:not([type=checkbox]):focus + label.anime,
.form-field input:not([type=checkbox]):valid + label.anime {
  top: -.8rem;
  left: 0;
  font-size: .8rem;
  color: rgb(72, 70, 190);
}

.form-field label.anime {
  position: absolute;
  z-index: 1;
  top: .5rem;
  left: .5rem;
  transition: .3s;
}

.form-field .text {
  outline: 0 !important;
  border: none;
}

.form-field .checkbox {
  display: inline !important;
  position: relative !important;
  top: 0 !important;
}

.button-in {
  border-color: rgb(70, 70, 247);
  box-shadow: rgb(70, 70, 247);
  transition: .3s;
  color: rgb(70, 70, 247);
  font-weight: 700;
  padding: 0.2rem;
}

.button-res {
  border-color: rgba(252, 89, 67, 0.4);
  box-shadow: rgba(252, 89, 67, 0.4);
  transition: .3s;
  color: rgba(252, 89, 67);
  font-weight: 700;
  padding: 0.2rem;
}

.Buttons .button:hover {
  box-shadow: 0 0 4px rgba (0, 0, 0, 0.4)
}

.Buttons .button:active {
  box-shadow: inset 0 0 4px rgba (0, 0, 0, 0.4)
}

