.auth form {
  width: fit-content;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  padding: 1rem;
  border-radius: 1rem;
  margin: 2.5rem auto;
  margin-bottom: 15rem;
  min-width: 420px;
  background-color: rgba(241, 236, 225, 0.4);
}

.auth form:hover {
  box-shadow: 0 0 9px rgba(0,0,0,0.4);
}

.title {
  color: rgb(12, 179, 12);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-family: Arial;
  text-shadow: 0 0 7px rgba(2, 252, 2, 0.4)
}


.form-field {
  position: relative;
}

.form-field input:not([type=checkbox]) {
  border: none;
  display: block;
  border-bottom: 1px solid #d9d9d9;
  width: calc(100% - 1rem);
  padding: .5rem;
  margin-top: .5rem;
  outline: none !important;
  margin-bottom: 1rem;
  background-color: rgba(245, 247, 244, 0.4);
}

.form-field input:not([type=checkbox]):focus + label.anime,
.form-field input:not([type=checkbox]):valid + label.anime {
  top: -.8rem;
  left: 0;
  font-size: .8rem;
  color: rgb(72, 70, 190);
}

.form-field label.anime {
  position: absolute;
  z-index: 1;
  top: .5rem;
  left: .5rem;
  transition: .3s;
}

.form-field .text {
  outline: 0 !important;
  border: none;
}

.form-field .checkbox {
  display: inline !important;
  position: relative !important;
  top: 0 !important;
}

.Buttons {
  margin-top: 1rem;
}

.button-in {
  border-color: rgb(70, 70, 247);
  box-shadow: rgb(70, 70, 247);
  transition: .3s;
  color: rgb(70, 70, 247);
  font-weight: 700;
  padding: 0.7rem;
  background-color: rgb(201, 197, 223);
  cursor: pointer;
  border-radius: .5rem;
  width: 30%;
  margin-right: 10rem;
  outline: none !important;
}

.button-res {
  border-color: rgba(252, 89, 67, 0.4);
  box-shadow: rgba(252, 89, 67, 0.4);
  transition: .3s;
  color: rgba(252, 89, 67);
  font-weight: 700;
  padding: 0.7rem;
  background-color: rgb(231, 220, 220);
  cursor: pointer;
  border-radius: .5rem;
  width: 30%;
  outline: none !important;
}

.auth .Buttons .button-in:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-color: springgreen;
  color: blue;
  text-shadow: 0 0 4px rgba(80, 66, 206, 0.4);
}

.button-in:active {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}

.button-res:hover {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
  border-color: springgreen;
  color: rgb(252, 5, 5);
  text-shadow: 0 0 4px rgba(252, 2, 2, 0.4);
}

.button-res:active {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
  border: 0;
}

